<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>507798420275-r2j4l0l4pjukcdkrpav8sb6rin8r25li.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.507798420275-r2j4l0l4pjukcdkrpav8sb6rin8r25li</string>
	<key>API_KEY</key>
	<string>AIzaSyAMy9_gPZ2_kJbGeudp4ponhuqJxcnwsKI</string>
	<key>GCM_SENDER_ID</key>
	<string>507798420275</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoAppFire</string>
	<key>PROJECT_ID</key>
	<string>task-firestore-9f039</string>
	<key>STORAGE_BUCKET</key>
	<string>task-firestore-9f039.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:507798420275:ios:261a10ad2f2a067bbc1c46</string>
</dict>
</plist>